* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  background-color: lightgray;
  scroll-behavior: smooth;
}

/* All Style */
section {
  padding: 120px 0;
}

.max_width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.name {
  background: linear-gradient(-45deg, #6355a4, #887db6, #e89a3e, #d17d1e, #b43838, crimson, #ff48fa, #f0eb8d, lightgray);
  background-size: 300%;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-weight: 900; */
  /* font-size: 5vw; */
  /* letter-spacing: -5px; */
  /* text-transform: uppercase; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 4s ease-in-out infinite;
  -moz-animation: animated_text 4s ease-in-out infinite;
  -webkit-animation: animated_text 4s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.button {
  border-radius: 100rem;
  padding: 1rem;
  font-family: "ubuntu";
  font-size: 1.5rem;
  padding: 0.7rem 4rem;
  color: lightgray;
  font-weight: 800;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 4px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #292929 inset;
}

.button:hover {
  box-shadow: none;
  color: #292929;
}
/* / All Style */

/* Navbar */
.navbar {
  width: 100%;
  padding: 35px 0;
  position: fixed;
  z-index: 999;
  /* background: crimson; */
  transition: all 0.8s ease;
  font-family: "oswald";
}

.navbar .logo a {
  color: #01a3ff;
  font-weight: 600;
  font-size: 0px;
}

.navbar .logo span {
  color: #f0eb8d;
}

.navbar.sticky {
  padding: 15px 0;
  background: #2d2727;
}

.navbar.sticky .logo a {
  color: #f0eb8d;
  font-size: 35px;
}

.navbar.sticky .logo span {
  color: #01a3ff;
  font-size: 35px;
}

.navbar .logo a:hover {
  color: #01a3ff;
}

.navbar .logo span:hover {
  color: #f0eb8d;
}

.navbar.sticky .menu a {
  font-size: 22px;
}

.navbar .max_width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  display: inline-block;
}

.navbar .menu a {
  color: #51c7b9;
  font-weight: 500;
  font-size: 22px;
  margin-left: 35px;
  transition: color 0.4s ease;
}

.navbar .menu a:hover {
  color: #f0eb8d;
}
/* / Navbar  */

/* Hero */
.hero {
  background: url("https://static.vecteezy.com/system/resources/previews/001/968/664/large_2x/abstract-dark-hexagon-pattern-on-blue-green-neon-color-background-technology-style-modern-futuristic-honeycomb-concept-you-can-use-for-cover-template-poster-banner-web-flyer-illustration-vector.jpg")
    no-repeat center;
  color: whitesmoke;
  min-height: 500px;
  height: 100vh;
  display: flex;
  box-shadow: 0 0 35px 7px #183a4d;
}

.hero .max_width {
  margin: auto 0 auto 0;
}

.hero_content {
  font-family: "ubuntu", sans-serif;
}

/* .hero_content span {
  font-family: "roboto condensed", sans-serif;
} */

.hero .my_name {
  font-size: 27px;
}

.hero .name {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.hero .jobs {
  font-size: 40px;
  color: lightsalmon;
  margin: 5px 0;
}

.hero .jobs span {
  color: #f0eb8d;
  font-weight: 500;
}
/* / Hero */

/* About */
.about {
  font-family: "poppins", sans-serif;
}

.about_content {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.about_title {
  font-family: "ubuntu", sans-serif;
  padding-bottom: 20px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.about_title::before {
  transform: translateX(-50%);
  background: orange;
  position: absolute;
  /* color: crimson; */
  width: 220px;
  height: 3px;
  content: "";
  bottom: 5px;
  left: 50%;
}

.about_title::after {
  transform: translateX(-50%);
  background: lightgray;
  content: "Who I am?";
  position: absolute;
  font-size: 20px;
  bottom: -15px;
  padding: 10px;
  left: 50%;
}

.about_image {
  width: 45%;
}

.about img {
  border-radius: 6px;
  border: 2.3px solid black;
  object-fit: cover;
  width: 450px;
  height: 600px;
}

.about_me {
  width: 55%;
}

.about_me h1 {
  border-bottom: 2.2px solid black;
  font-size: 30px;
  width: 495px;
}

.about_me span {
  color: #6939c2;
}

.about_me p {
  font-family: "rubik";
  font-weight: 400;
  line-height: 1.6;
  font-size: 19.2px;
  margin-top: 15px;
  width: 610px;
}

.about_me a {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #4cbbd6, #8950ca, #cfae1c);
  border: 3.5px solid transparent;
  padding: 0.7rem 1.4rem;
  font-weight: 550;
  font-size: 1.3rem;
}
/* / About */

/* Service */
.service {
  font-family: "ubuntu", sans-serif;
  background-color: #1f1f1f;
  flex-direction: row;
  display: flex;
}

.service_title {
  font-family: "ubuntu", sans-serif;
  padding-bottom: 20px;
  margin-bottom: 70px;
  position: relative;
  text-align: center;
  font-weight: 500;
  color: #ffc500;
  font-size: 35px;
}

.service_card_title {
  font-family: "ubuntu";
  font-weight: 500;
  font-size: 35px;
  padding: 0 0 15px 0;
}

.service_title::before {
  transform: translateX(-50%);
  background: seashell;
  position: absolute;
  width: 310px;
  height: 3px;
  content: "";
  bottom: -2px;
  /* z-index: -1; */
  left: 50%;
}

.service_title::after {
  transform: translateX(-50%);
  content: "What Services do I offer?";
  background: #1f1f1f;
  position: absolute;
  font-size: 20px;
  bottom: -22px;
  padding: 10px;
  color: #ffc500;
  left: 50%;
}

.service_content {
  display: flex;
  text-align: center;
}

.service_card {
  background-color: #ffc500;
  transition: all 0.3s ease;
  font-family: "poppins";
  border-radius: 15px;
  padding: 25px 15px;
  margin: auto 25px;
  color: #1f1f1f;
  font-weight: 450;
  cursor: pointer;
  width: 33.33%;
}

.service_card:hover {
  background: linear-gradient(45deg, #6355a4, #e89a3e, #d17d1e, #ff48fa, #f0eb8d, lightgray);
  transform: scale(1.1);
  color: black;
}

.service_description {
  font-size: 17px;
}

.service_card i {
}
/* / Service */
