* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  background-color: lightgray;
  scroll-behavior: smooth;
}

/* All Style */
section {
  padding: 120px 0;
}

.max_width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.name {
  background: linear-gradient(-45deg, #6355a4, #887db6, #e89a3e, #d17d1e, #b43838, crimson, #ff48fa, #f0eb8d, lightgray);
  background-size: 300%;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-weight: 900; */
  /* font-size: 5vw; */
  /* letter-spacing: -5px; */
  /* text-transform: uppercase; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 4s ease-in-out infinite;
  -moz-animation: animated_text 4s ease-in-out infinite;
  -webkit-animation: animated_text 4s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.button {
  border-radius: 100rem;
  padding: 1rem;
  font-family: "ubuntu";
  font-size: 1.5rem;
  padding: 0.7rem 4rem;
  color: lightgray;
  font-weight: 800;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 4px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #292929 inset;
}

.button:hover {
  box-shadow: none;
  color: #292929;
}
/* / All Style */

/* Navbar */
.navbar {
  width: 100%;
  padding: 35px 0;
  position: fixed;
  z-index: 999;
  /* background: crimson; */
  transition: all 0.8s ease;
  font-family: "oswald";
}

.navbar .logo a {
  color: #01a3ff;
  font-weight: 600;
  font-size: 0px;
}

.navbar .logo span {
  color: #f0eb8d;
}

.navbar.sticky {
  padding: 15px 0;
  background: #2d2727;
}

.navbar.sticky .logo a {
  color: #f0eb8d;
  font-size: 35px;
}

.navbar.sticky .logo span {
  color: #01a3ff;
  font-size: 35px;
}

.navbar .logo a:hover {
  color: #01a3ff;
}

.navbar .logo span:hover {
  color: #f0eb8d;
}

.navbar.sticky .menu a {
  font-size: 22px;
}

.navbar .max_width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  display: inline-block;
}

.navbar .menu a {
  color: #51c7b9;
  font-weight: 500;
  font-size: 22px;
  margin-left: 35px;
  transition: color 0.3s ease;
}

.navbar .menu a:hover {
  color: #f0eb8d;
}
/* / Navbar  */

/* Hero */
.hero {
  background: url("https://static.vecteezy.com/system/resources/previews/001/968/664/large_2x/abstract-dark-hexagon-pattern-on-blue-green-neon-color-background-technology-style-modern-futuristic-honeycomb-concept-you-can-use-for-cover-template-poster-banner-web-flyer-illustration-vector.jpg")
    no-repeat center;
  color: whitesmoke;
  min-height: 500px;
  height: 100vh;
  display: flex;
  box-shadow: 0 0 35px 12px #183a4d;
}

.hero .max_width {
  margin: auto 0 auto 0;
}

.hero_content {
  font-family: "ubuntu", sans-serif;
}

/* .hero_content span {
  font-family: "roboto condensed", sans-serif;
} */

.hero .my_name {
  font-size: 27px;
}

.hero .name {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.hero .jobs {
  font-size: 40px;
  color: lightsalmon;
  margin: 5px 0;
}

.hero .jobs span {
  color: #f0eb8d;
  font-weight: 500;
}
/* / Hero */

/* About */
.about {
  font-family: "poppins", sans-serif;
}

.about_content {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.about_title {
  font-family: "ubuntu", sans-serif;
  padding-bottom: 20px;
  margin-bottom: 80px;
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.about_title::before {
  transform: translateX(-50%);
  background: #ffc500;
  border-radius: 6px;
  position: absolute;
  /* color: crimson; */
  width: 190px;
  height: 3px;
  content: "";
  bottom: 5px;
  left: 50%;
}

.about_title::after {
  transform: translateX(-50%);
  background: lightgray;
  content: "Who I am?";
  position: absolute;
  font-size: 20px;
  bottom: -15px;
  padding: 10px;
  left: 50%;
}

.about_image {
  width: 45%;
}

.about img {
  border-radius: 6px;
  border: 2.3px solid black;
  object-fit: cover;
  width: 450px;
  height: 600px;
}

.about_me {
  width: 55%;
}

.about_me h1 {
  border-bottom: 2.2px solid black;
  font-size: 30px;
  width: 495px;
}

.about_me span {
  color: #6939c2;
}

.about_me p {
  font-family: "rubik";
  font-weight: 450;
  line-height: 1.6;
  font-size: 19.2px;
  margin-top: 15px;
  width: 610px;
}

.about_me a {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #4cbbd6, #8950ca, #cfae1c);
  border: 3.5px solid transparent;
  padding: 0.7rem 1.4rem;
  font-weight: 550;
  font-size: 1.3rem;
}
/* / About */

/* Skill */
.skill {
  background-color: #b43838;
}

.skill_title {
  font-family: 'ubuntu';
  padding-bottom: 20px;
  margin-bottom: 120px;
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size:  35px;
  color: #d5f2e3;
}

.skill_title::before {
  transform: translateX(-50%);
  background-color: #9984d4;
  border-radius: 8px;
  position: absolute;
  bottom: -2px;
  width: 250px;
  height: 3px;
  content: "";
  left: 50%;
}

.skill_title::after {
  transform: translateX(-50%);
  content: "About all my Skills";
  background-color: #b43838;
  position: absolute;
  font-size: 20px;
  bottom: -22px;
  padding: 10px;
  color: #d5f2e3;
  left: 50%;
}

.skill_content {
  font-family: 'poppins';
  font-weight: 500;
  font-size: 21px;
  display: flex;
}

.skill_exprience {
  color: #e2d81f;
  width: 50%;
}

.skill_exprience_title {
  padding-bottom: 15px;
  font-size: 28px;
}

.skill_exprience p {
  font-weight: 401;
}

.skill_data {
  flex-direction: column;
  display: flex;
  margin-left: 20px;
  font-weight: 450;
  font-size: 22px;
  color: #f9eae1;
  width: 50%;
}

/* .skill_data i {
  padding-left: 15px;
} */

.skill_data_content {
  margin-bottom: 15px;
}

.skill_language {
  display: flex;
  justify-content: space-between;
}

.fa-html5 {
  color: #df8660;
}

.fa-css3-alt {
  color: #2965f1;
}

.fa-js-square {
  color: #F0DB4F;
}

.fa-php {
  color: #8993be;
}

.fa-database {
  color: #2e77ae;
}

.skill_bar {
  background-color: #382d2d;
  border: 3px solid seashell;
  position: relative;
  border-radius: 6px;
  height: 13px;
  width: 100%;
}

.skill_bar_html::before {
  background-color: #ffc500;
  position: absolute;
  border-radius: 6px;
  content: "";
  height: 6.5px;
  width: 95%;
  left: 0;
  top: 0;
}

.skill_bar_css::before {
  background-color: #846ce2;
  position: absolute;
  border-radius: 6px;
  height: 6.5px;
  content: "";
  width: 85%;
  left: 0;
  top: 0;
}

.skill_bar_js::before {
  background-color: #a79461;
  position: absolute;
  border-radius: 6px;
  content: "";
  height: 6.5px;
  width: 65%;
  left: 0;
  top: 0;
}

.skill_bar_php::before {
  background-color: rgb(230, 164, 178);
  position: absolute;
  border-radius: 6px;
  content: "";
  height: 6.5px;
  width: 40%;
  left: 0;
  top: 0;
}

.skill_bar_sql::before {
  background-color: rgb(230, 164, 178);
  position: absolute;
  border-radius: 6px;
  content: "";
  height: 6.5px;
  width: 40%;
  left: 0;
  top: 0;
}
/* / Skill */

/* Service */
.service {
  font-family: "ubuntu", sans-serif;
  background-color: #1f1f1f;
  /* flex-direction: row; */
  /* display: flex; */
}

.service_title {
  font-family: "ubuntu", sans-serif;
  padding-bottom: 20px;
  margin-bottom: 120px;
  position: relative;
  text-align: center;
  font-weight: 500;
  color: #ffc500;
  font-size: 35px;
}

.service_card_title {
  font-family: "ubuntu";
  font-weight: 500;
  font-size: 35px;
  padding: 10px 0;
}

.service_title::before {
  transform: translateX(-50%);
  background: seashell;
  border-radius: 6px;
  position: absolute;
  width: 315px;
  bottom: -2px;
  height: 3px;
  content: "";
  /* z-index: -1; */
  left: 50%;
}

.service_title::after {
  transform: translateX(-50%);
  content: "What Services do I offer?";
  background: #1f1f1f;
  position: absolute;
  font-size: 20px;
  bottom: -22px;
  padding: 10px;
  color: #ffc500;
  left: 50%;
}

.service_content {
  display: flex;
  text-align: center;
}

.service_card {
  background-color: #ffc500;
  transition: all 0.3s ease;
  font-family: "poppins";
  border-radius: 15px;
  padding: 25px 15px;
  margin: auto 25px;
  color: #1f1f1f;
  font-weight: 450;
  cursor: pointer;
  width: 33.33%;
}

.service_card:hover i {
  transition: color 0.3s ease;
  color: #2a2b2a;
}

.service_card:hover {
  background: lightgray;
  transform: scale(1.1);
  color: #1b263b;
}

.service_description {
  font-size: 17px;
}
/* / Service */

/* Team */

/* Team */

/* Contact */
.contact {
  box-shadow: 0 0 35px 14px #ffc500;
  background-color: #ffc500;
}

.contact_title {
  font-family: 'ubuntu';
  padding-bottom: 20px;
  margin-bottom: 100px;
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 35px;
  color: #1f1f1f;
}

.contact_title::before {
  transform: translateX(-50%);
  background-color: #1f1f1f;
  border-radius: 6px;
  position: absolute;
  width: 260px;
  height: 3px;
  content: "";
  bottom: -2px;
  left: 50%;
}

.contact_title::after {
  content: "If you have question";
  transform: translateX(-50%);
  background-color: #ffc500;
  position: absolute;
  color: #1f1f1f;
  font-size: 20px;
  padding: 10px;
  bottom: -22px;
  left: 50%;
}

.contact_content {
  font-family: 'poppins'; 
  display: flex;
}

.contact_information {
  width: 50%;
}

.gmap_canvas {
  border: 5px solid #1f1f1f;
  border-radius: 8px;
}

.contact_message {
  margin-left: 50px;
  font-weight: 450;
  width: 50%;
}

.contact_message_title {
  font-size: 35px;
}

.contact_message .field {
  display: flex;
  flex-direction: column;
}

.contact_message input, .contact_message textarea {
  background-color: lightgray;
  border: 2px solid #1f1f1f;
  font-family: 'poppins';
  padding: 14px 18px;
  border-radius: 6px;
  color: #1f1f1f;
  font-weight: 450;
  font-size: 19px;
  margin: 10px 0;
  outline: none;
  height: 100%;
  width: 100%;
}

.contact_name, .contact_email, .contact_message {
  height: 45px;
  width: 100%;
}
/* / Contact */